---
layout: default
title: Jin-I just do my best
---
<ul class="j-container">
     {% for post in site.posts %}
    <li class="j-row j-list-i">
        <h2 class="j-i-title"><a href="{{site.baseurl}}{{post.url}}" title="{{post.title}}">{{post.title}}</a></h2>
        <p class="j-i-time">{{post.date | date_to_string}}</p>
        <p class="j-i-tags">
            {%for tag in post.tags %}
            <span class="j-i-tag">{{tag}}</span>
            {% endfor %}
        </p>
        <div class="j-container">
            <div class="j-row j-artclie-txt">{{post.excerpt}}</div>
        </div>
    </li>
    {% endfor %}
</ul>