<meta charset="UTF-8">
<meta name="apple-mobile-web-app-title" content="{{page.title}}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="keywords" content="Jin,Yi-love,JIN博客,博客,Yi-love博客,前端,Jin前端,Jin前端博客">
<meta name="description" content="Jin/Yi-love/cray的个人博客">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{{site.baseurl}}/stylesheets/normalize.css">
<link rel="stylesheet" href="{{site.baseurl}}/stylesheets/base.css">
<link rel="stylesheet" href="{{site.baseurl}}/stylesheets/monokai.css">
<script src="{{site.baseurl}}/javascripts/base.js"></script>
<title>{{page.title}}</title>