<div class="j-container-fluid j-footer">
    <div class="j-container">
        <p class="j-footer-say">喜欢一个人需要理由吗？需要吗？不需要吗？需要吗？……</p>
        <p class="j-footer-say j-tlgr">——周星驰 《大话西游》</p>
    </div>
</div>
<div class="j-tips-box">
    <div class="j-tips-max-box" onclick="fullScreen()">
        <span class="l-t"></span>
        <span class="r-t"></span>
        <span class="l-b"></span>
        <span class="r-b"></span>
    </div>
    <div class="j-tips-top-box">
        <span class="j-tip-top" onclick="scrollToWindowTop()"><span class="l-bar"></span><span class="r-bar"></span></span>
    </div>
</div>