<div class="j-container-fluid j-header">
	<div class="j-row">
		<div class="j-container">
			<h1 class="j-logo"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/logo.png" /> </a></h1>
			<nav class="j-row j-nav">
				<a href="{{site.baseurl}}/">首页</a>
				<a href="{{site.baseurl}}/list.html">归档</a>
				<a href="https://github.com/Yi-love">Github</a>
				<a href="{{site.baseurl}}/me.html">Me</a>
				<a href="http://blog.csdn.net/yjy188" target="_blank">CSDN博客</a>
			</nav>
		</div>
	</div>
</div>