<div class="j-container pagination">
  {% if paginator.previous_page %}
    <a href="/pages/{{ paginator.previous_page }}" class="pg-btn previous">上一页</a>
  {% else %}
    <span class="pg-btn previous disabled">上一页</span>
  {% endif %}
  <span class="number"> <span class="current">{{ paginator.page }}</span> / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/pages/{{ paginator.next_page }}" class="pg-btn next">下一页</a>
  {% else %}
    <span class="pg-btn next disabled">下一页</span>
  {% endif %}
</div>
