<div class="j-col-xs-12 j-col-sm-12 j-col-md-3">
    <div class="j-user">
        <div class="j-user-thumb">
            <a href="{{site.baseurl}}/me.html"><img src="{{site.baseurl}}/images/user.jpg" alt="" /></a>
        </div>
        <div class="j-user-name"><h3>{{site.username}}</h3></div>
        <div class="j-user-info">
            <a href="{{site.baseurl}}/me.html">微信</a>
            <a href="{{site.baseurl}}/me.html">微博</a>
            <a href="{{site.baseurl}}/me.html">QQ</a>
        </div>
    </div>
    <div class="j-class-list">
        <h3 class="j-row">分类</h3>
        {% for category in site.categories %}
        <a href="{{site.baseurl}}/category.html?category={{ category|first}}">{{category | first}} <span class="j-class-i-num">({{category | last | size}})</span></a>
        {% endfor %}
    </div>
</div>