.blow-box{
    width: 574px;
    height: 464px;
    position: relative;
    margin-left: 100px;
    margin-top: 100px;
}
.blow-small-box{
    width: 100%;
    height: 100%;
}
.blow-max-box{
    position: absolute;
    z-index: 99;
    right: -464px;
    top: 0;
    width: 464px;
    height: 464px;
    overflow: hidden;
}
.blow-content-box{
    width: 464px;
    height: 464px;
    float: left;
}
.blow-small-bar{
    width: 110px;
    height: 464px;
    overflow: hidden;
}
.blow-small-list{
    width: 82px;
    height: 464px;
    margin: 0;
    padding: 0;
}
.blow-small-list .blow-small-list-i{
    width: 78px;
    height: 78px;
    margin: 14px;
    border: 2px solid #47baac;
    list-style: none;
    overflow: hidden;
    cursor: pointer;
}
.blow-small-list .blow-small-list-i img{
    width: 78px;
    height: 78px;
}
.blow-content-box{
    width: 464px;
    height: 464px;
    overflow: hidden;
    position: relative;
}
.blow-img-box , .blow-small-img{
    width: 464px;
    height: 464px;
}
.blow-img-cursor{
    position: absolute;
    display: none;
    z-index: 2;
    top: 0;
    left: 0;
    width: 232px;
    height: 232px;
    cursor: move;
    background: url(images/blow.png) repeat transparent;
}
.blow-content-box:hover .blow-img-cursor{
    display: block;
}























